<!DOCTYPE html>

<html lang="en">

<head>
    <title>Receipt Signup</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- <input type="text" name="username">
                <input type="password" name="password1">
                <input type="password" name="password2"> -->
                <button type="submit">Signup</button>
            </form>
        </div>
    </main>
</body>

</html>